
:root {
    --header-color: #23262B;
    --experience-color: #136F63;
    --background-color: #79AEA3;
    --education-color: #1C6E8C;
    --footer-color:  #23262B;
    --links-color: #E0CA3C;
    --header-text-color:  #F5F5DC;
    --experience-text-color: rgba(221, 221, 210, 0.973);
    --education-text-color: #000000;
    --footer-text-color:  #F5F5DC;
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}

body {
    background-color: var(--background-color);
    margin: 0 auto;
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

body > * {
    margin: 0;
    padding: 20px 30px;
    box-sizing: border-box;
    margin: 0 auto;
}

div {
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    font-family: 'Russo One', sans-serif;
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

a {
    color: var(--links-color);
}

p {
    margin: 0 0 10px 0;
}

ul {
    padding: 0 20px 0 20px;
    margin: 0;
    margin-bottom: 10px;
}

/****** Flex configuration ******/
.flex {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.flex > section {
    flex: 1 0 300px;
}

.flex :first-child {
    flex: 1 0 100%;
}

/****** Main row *****/

.mainRow {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.mainRow > header {
    flex: 0 0 310px;
}

.mainRow > section {
    flex: 1 0 calc(100% - 310px);
}

/****** Summary ******/

.summary {
    background-color: var(--header-color);
    padding: 20px 30px;
    color: var(--header-text-color);
    box-sizing: border-box;
}

.summary p {
    margin: 10px 0;
}

.summary img {
    float: left;
    margin-right: 10px;
    width: 100px;
}

.skills {
    box-sizing: border-box;
}

.summary ul {
    list-style: circle;
}

/****** Proffesional experience ********/

.experience {
    background-color: var(--experience-color);
    color: var(--experience-text-color);
    overflow: hidden;
    white-space: nowrap;
    padding: 20px 30px;
    box-sizing: border-box;
}

.experience > * {
    white-space: normal;
}

.experience nav {
    display: flex;
    justify-content: center;
}

.experience nav p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    display: inline-block;  
    width: 100px;
    text-align: center;
}

.experience nav p:hover {
    cursor: pointer;
}

.experience > section {
    border-bottom: solid black 1px;
    transition: all 1s;
}

.experience > section:last-of-type {
    border-bottom: none;
}

.experience h2 {
    margin-top: 10px;
}

.projects h3 {
    line-height: 1.5;
    margin-bottom: 10px;
    border-bottom: gray dashed 1px;
}

.projects h4 {
    margin: 10px 0;
}

.projects > section {
    margin-right: 10px;
}

/******* Education ********/

.education {
    background-color: var(--education-color);
    color: var(--education-text-color);
}

/******* Footer **********/

footer {
    background-color: var(--footer-color);
    color: var(--footer-text-color);
    text-align: center;
}
footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}

footer li {
    display: box;
    width: 33%;
}

@media screen and (max-width: 500px) {
    .flex > section {
        flex: 1 0 100%;
    }
}

@media screen and (max-width: 900px) {
    .mainRow > header {
        flex: 1 0 100%;
    }
}